*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #fffbe0, #fff7c2, #fff2a8); /* some are chat gpt sir just for funnnnnn kasi want ko gawin usagi theme TvT (im also learning it para magawa ulit sa future dibaa :p)*/
    color: #333;
    text-decoration:#d4f0d5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

form{
    text-align: left;
    margin: auto;
    background: #fff7cc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
}

label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #000000;
}
input[type="text"], input[type="number"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"]{
    padding: 8px 16px;
    background-color: #e6e351;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40%;
    
}

button{
    padding: 8px 16px;
    background-color: #e6e351;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 40%;
}

input[type="submit"]:hover, button:hover{
    background-color: #fcff4ecb;
    color: #363a06;
}

select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1{
    font-weight:  bold;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.success{
    background: rgb(153, 226, 153);
    text-align: center;
    margin-top: 10px auto;
    font-weight: bold;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.fail{
    background: rgb(226, 153, 153);
    text-align: center;
    margin-top: 10px auto;
    font-weight: bold;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}