*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #fffbe0, #fff7c2, #fff2a8); /* some are chat gpt sir just for funnnnnn kasi want ko gawin usagi theme TvT (im also learning it para magawa ulit sa future dibaa :p)*/
    text-decoration:#d4f0d5;
}

table{
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 0 12px;
    border: 3px solid #707207;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 25px;
    overflow:hidden;
    width: 90%;
    max-width: 1200px;
}

h1{
    font-weight:  bold;
    text-align: center;
    margin-top: 20px;
    color: #365335;
}

th, td{
    text-align: center;
    padding: 12px;
    color: rgb(45, 53, 45);
}

.titled{
    text-align: left;
}

table th{
    background-color: #edf761c0;
    color: rgb(0, 0, 0);
}

tr:nth-child(even){
    background-color: #ffffff23;
}

tr:nth-child(odd){
    background-color: #f2ff8256;
}

a{
    text-decoration: none;
    color: black;
}
button{
    padding: 8px 16px;
    background-color: #e6e351;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 75px;
}

form{
    text-align: left;
    margin: 50px 0 20px 75px;
}

input[type="search"], select{
    padding: 8px;
    border: 2px solid #707207;
    border-radius: 8px;
    margin-right: 12px;
}

input[type="submit"]{
    padding: 8px 16px;
    background-color: #e6e351;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover{
    background-color: #d4f0d5;
    color: #365335;
}

.usagi {
  position: sticky;        
  bottom: 10px;            
  left: 10px;              
  width: 120px;            
  height: auto;
  z-index: 1000;           
  pointer-events: none;    
}
