*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dffcdf49;
    color: #333;
    text-decoration:#d4f0d5;
}

table{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 12px;
    border: 3px solid #365335;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 12px;
}

th, td{
    text-align: center;
    padding: 12px;
    color: rgb(45, 53, 45);
}

td.pname{
    text-align: left;
}

table th{
    background-color: #478145;
    color: white;
}

tr:nth-child(even){
    background-color: #e4ffe0;
}

tr:nth-child(odd){
    background-color: #c8f7c0;
}

tr:hover td{
    background:rgba(178, 253, 159, 0.466);
    color: rgb(0, 0, 0);
}

